{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="row align-items-center g-5">
    <div class="col-md-6 order-2 order-md-1 text-center">
      <img
        src="{{ url_for('static', filename='img/sistema.png') }}"
        class="img-fluid rounded shadow-lg border border-2 border-success"
        alt="Sistema de Gestión Ambiental"
      />
    </div>

    <div class="col-md-6 order-1 order-md-2 text-center text-md-start">
      <h2 class="fw-bold mb-3">Sistema de Gestión Ambiental</h2>
      <p class="lead text-muted">
        Un Sistema de Gestión Ambiental (SGA) es un conjunto de políticas,
        procedimientos y prácticas que permiten a las organizaciones reducir su
        impacto ambiental y cumplir con normativas ecológicas.
      </p>
    </div>
  </div>
</div>
{% endblock %}
